body{
	background: #fffff;
}

h1{
color: #ff5733;
text-align: center;
font-family: arial;
}
h2{
color: #8d33ff;
text-align: center;
font-family: arial;
}
h3{
color: #ff33f9;
text-align: center;
font-family: ariel;	
}